@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;1,600&display=swap");

*{
    padding: 0;
    margin: 0;
}

:root { /* ":root" is on global scope. One can also put them in the scope of a certain class or even element. */
    --primairy-color: #1e90ff;
    --secondary-color: #1e90ff;
}

body {
    font-family: 'lora', sans-serif;
}

nav {
    display: flex;
    justify-content: flex-end;
    box-shadow: 0 7px 8px lightgrey;
    z-index: 1;
}

nav a {
    color: darkslategrey;
    text-decoration: none;
}

#search-form {
    display: flex;
    align-items: center;
}
#search-form input {
    width: 50rem;
    height: 80%;
    margin-right: 0.5rem;
    font-size: 2rem;
}

#suggestions {
    position: absolute;
    top: 4rem;
    background-color: lightgray;
    width: 50rem;
    padding: 1rem;
    border-radius: 0.5rem;
    list-style: none;
}

#suggestions li {
    display: block;
    padding: 0.25rem;
    margin: 0.25rem;
    cursor: pointer;
}

#menu {
    list-style: none;
}

#search {
    font-size: 2em;
}

li {
    display: inline-block;
}