@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;1,600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    font-size: 1em;
    font-family: 'lora', sans-serif;
}
nav {
    background: darkred;
}
#searchbar {
    position: relative;
    display: flex;
    height: 40px;
    border-radius: 2px;
    padding: 2px;
    background: red;
    min-width: 18%!important;
    border: 1px solid rgba(155, 155, 155, 0.2);
    z-index: 1;
}

#searchbar.active {
    display: flex;
}

#searchbar .search-data {
    height: 100%;
    width: 100%;
    padding: 0 10px;
    color: white;
    background: none;
    border: none;
    font-weight: 500;
    font-size: 17px;
}

#searchbar button {
    padding: 0 15px;
    background: orangered;
    border: none;
    cursor: pointer;
    font-size: 17px;
    color: white;
    border-radius: 2px;
}

#filtersearchbar {
    position: relative;
    display: flex;
    height: 40px;
    border-radius: 2px;
    padding: 2px;
    background: red;
    border: 1px solid rgba(155, 155, 155, 0.2);
    z-index: 1;
}

#filtersearchbar .search-data {
    height: 100%;
    width: 100%;
    padding: 0 10px;
    color: white;
    background: none;
    border: none;
    font-weight: 500;
    font-size: 17px;
}

#filtersearchbar button {
    padding: 0 15px;
    background: orangered;
    border: none;
    cursor: pointer;
    font-size: 17px;
    color: white;
    border-radius: 2px;
}

nav div#mobile {
    display: flex;
    justify-content: space-between;
    width: 7em;
}

section.mobile-header {
    display: none;
    justify-content: space-between;
    width: 12em;
}

img {
    width: 100%;
}

.hover-ani {
    animation: hovering 2s infinite;
    font-family: 'Press Start 2P', cursive;
}
@keyframes hovering {
    0%, 100% {
    transform: translateY(-0.25em);
    color: red;
    }
    50% {
    transform: translateY(0.25em);
    color: darkred;
    }
}

#header {
    text-align: center;
}

nav .menu-icon,
nav .search-icon,
.cancel-icon {
    color: white;
    text-align: center;
    font-size: 2em;
    cursor: pointer;
    display: block;
}
nav .menu-icon span,
nav .search-icon {
    display: none;
}

#user {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
nav .user-icon {
    font-size: 1.5em;
}

#results {
    position: absolute;
    background: darkred;
    display: none;
    top: 3em;
    flex-direction: column;
    width: 100%;
    border-radius: 0.5em;
}
#results li {
    list-style-type: none;
    border-radius: 3px;
    padding: 10px 15px;
}
#results li:hover {
    color: red;
}

main {
    display: flex;
    justify-content: center;
}

footer {
    display: flex;
    justify-content: center;
}

article {
    max-width: 725px;
}

article > *,
footer {
    margin-top: 2rem;
}

@media (max-width: 1140px) {
    article,
    footer {
        max-width: 90%;
    }
    nav {
        padding: 0 50px;
    }
    section.mobile-header {
        display: flex;
    }
    nav #menu {
        position: fixed;
        z-index: 2;
        top: 0;
        width: 16em;
        height: 100%;
        background: orangered;
        display: flex;
        flex-direction: column;
        padding: 10px 50px 0 50px;
        transition: all 0.4s;
        text-align: center;
        overflow: auto;
    }
    nav #menu li {
        line-height: 40px;
        margin: 30px 0;
        width: 100%;
    }
    nav #menu li a {
        font-size: 20px;
    }
    #searchbar {
        display: none;
        position: absolute;
        top: 58px;
        left: 10vw;
        right: 10vw;
    }
    #results {
        left: 0;
        width: 100%;
    }
    nav .menu-icon {
        display: block;
    }
    nav .search-icon,
    nav .menu-icon span,
    .cancel-icon {
        display: block;
    }
    #authform {
        left: 0;
        margin-left: auto;
        margin-right: auto;
        font-size: 4vw;
    }
    #authform input {
        font-size: 100%;
    }
    #authform #logout {
        font-size: 100%;
    }
    footer {
        margin-right: auto;
        margin-left: auto;
    }
}

nav {
    display: flex;
    box-shadow: 0 7px 8px lightgrey;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 1;
    height: 3em;
    padding: 0 2em;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

nav a:hover {
    color: orangered;
}

nav #icon {
    color: darkslategrey;
    font-size: 2em;
    font-weight: 600;
    letter-spacing: -1px;
}

#menu {
    list-style-type: none;
    display: flex;
    flex: 1;
    padding: 0 0 0 40px;
    left: -16em;
}

#menu.active {
    left: 0;
}

#menu li {
    padding: 0 15px;
}
#authform.active {
    display: flex;
}

#authform {
    flex-direction: column;
    position: absolute;
    display: none;
    right: 18px;
    z-index: 1;
    top: 58px;
    background: darkred;
    width: min-content;
    border-radius: 0.5em;
    padding: 1em;
    align-items: center;
}
#authform .title,
#authform .authtoggle {
    color: white;
}

#signupform,
#loginform {
    display: none;
}

#signupform.active,
#loginform.active {
    display: block;
}

.authtoggle {
    cursor: pointer;
}

#authform #error {
    color: red;
}

/* clears the 'X' in input[type="search"] from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { -webkit-appearance: none; }